Encode/Decode according to RFC 6265

The use of `encodeURIComponent` may be convenient but is not correct. Too many characters are being encoded. It also leads to repeated, unexpected errors such as #294.

This should make the `raw` config flag obsolete as well, which mostly was invented to workaround said errors.

http://tools.ietf.org/html/rfc6265#section-4.1.1

<pre>
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>
</pre>

@carhartl 

I will take a look in the RFC and send a pull request to [js-cookie 2.0](https://github.com/js-cookie/js-cookie/tree/2.0) to start this up.

Fixed on https://github.com/js-cookie/js-cookie/pull/8, will take effect once v2.0 is released.